.popup__contacts {
  min-height: 375px;
  display: inline-flex;
  /* display: none; */
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 40px;
  position: absolute;
  top: 55%;
  right: -1%;
}