.personal-space__list_navigation {
  padding: 0 10px;
  border-radius: 35px;
  border: 1px solid #dc46c6;
  background-image: url(../../../../../pics/4884273-blur.png);
  background-position: right;
}