@import url(./__headline/cart__headline.css);
@import url(./__list/cart__list.css);
@import url(./__list-element/cart__list-element.css);
@import url(./__list-element-navigation/cart__list-element-navigation.css);
@import url(./__list-element-navigation-button/cart__list-element-navigation-button.css);
@import url(./__list-element-navigation-input/cart__list-element-navigation-input.css);
@import url(./__form/cart__form.css);
@import url(./__button/cart__button.css);
.cart {
  /* max-width: 450px; */
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: 2%;
  top: 150%;
  background-color: rgba(0, 0, 0, 0.55);
  border-radius: 18px;
  backdrop-filter: blur(5px);
  /* display: none; */
  visibility: hidden;
  opacity: 0;
  /* padding: 2% 0; */
}