.header__services-list-element-button {
  color: #ed66a6;
  min-width: 150px;
  font-size: 18px;
  min-height: 45px;
  visibility: visible;
  opacity: 1;
}
.header__services-list-element-button:hover {
  border-radius: 30px;
  border: 2px solid #ed66a6;
}
