.header__loggedOut-button {
  border: 2px solid #ed66a6;
  border-radius: 30px;
  transition: background-color 0.5s linear, color 0.5s linear;
}

.header__loggedOut-button:hover {
  background-color: #ed66a6;
  color: white;
}