.personal-space__list-element-button {
  color: white;
  /* font-size: 18px; */
  border-radius: 30px;
  min-width: 35px;
  min-height: 35px;
  margin-bottom: 35px;
  color: rgba(255, 255, 255, 0.4);
}