.personal-space__content-text-wrapper {
  padding: 2% 5%;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 50px;
  box-shadow: 0 0 20px rgb(0 0 0 / 65%);
  margin-bottom: 10%;
  background-color: rgba(237, 102, 166, 0.55);
}